@import "variables";
.game-page {
  width: 90vw;

  .game-stats {
    margin-bottom: 3rem;
    text-align: center;

    h1 {
      margin-bottom: 3rem;
    }
  }

  .animated-text {
    opacity: 0;
    color: $color_blue;
    animation-duration: 3s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      opacity: 0.5;
    }

    50% {
      opacity: 1;
      font-size: 3rem;
    }
    to {
      margin-left: 0%;
    }
  }
}
