@import "variables";
.score-page {
  background: $color_white;
  max-width: 80vw;
  min-width: 48rem;
  min-height: 80vh;
  margin: auto;
  padding: 5rem;

  .title {
    margin-bottom: 5rem;
    text-align: center;
  }

  .scoreboard {
    margin: auto;
    width: 80%;
    border-collapse: collapse;

    thead {
      color: $color_dark_blue;
      border-bottom: 1px solid $color_dark_blue;
      font-weight: bold;
      text-align: left;
    }

    td,
    th {
      padding: 5px;
    }

    tbody {
      tr {
        border-bottom: 1px solid $color_light_grey;
      }

      tr:nth-child(odd) {
        background: $color_light_blue;
      }
    }
  }

  .button-container {
    width: 80%;
    margin: 50px auto;
  }
}
