@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&family=Roboto&display=swap");
@import "./styles/variables";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #222;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 90%;
  margin: 50px auto;
  background: $color_light_grey;
}

h1,
h2,
h3 {
  font-family: "New Tegomin", serif;
}
